<!DOCTYPE html>
<html>
  <head>
    <title>YOLOv4 Object Detection</title>
  </head>
  <body>
    <h1>YOLOv4 Object Detection</h1>
    <form
      method="POST"
      action="/detect"
      enctype="multipart/form-data"
      id="detectForm"
    >
      <input
        type="file"
        name="image"
        accept=".jpg, .jpeg, .png"
        id="imageInput"
        onchange="displaySelectedImage()"
      />
      <input type="button" value="Detect Objects" onclick="detectObjects()" />
    </form>

    <div class="result-item" style="display: none">
      <h3 class="image-header">Ảnh gốc</h3>
      <img
        src=""
        alt="Ảnh gốc"
        class="selected-image"
        id="selectedImage"
        width="416"
        height="416"
      />
    </div>

    <div class="result-item" id="detectedImageDiv" style="display: none">
      <h3 class="image-header">Ảnh đã detect</h3>
      <img
        src=""
        alt="Ảnh đã detect"
        class="detected-image"
        id="detectedImage"
        width="416"
        height="416"
      />
    </div>

    <div class="json-info" id="jsonInfoDetectDiv" style="display: none">
      <h4>Thông tin trả về từ /api/detect:</h4>
      <pre id="jsonInfoDetect"></pre>
    </div>

    <a
      href=""
      download="result.json"
      id="downloadJsonLink"
      style="display: none"
      >Tải JSON</a
    >

    <input
      type="button"
      value="Continue detect"
      id="continueDetectButton"
      style="display: none"
      onclick="continueDetect()"
    />

    <script>
      var selectedImage = null;

      // Hàm hiển thị ảnh đã chọn
      function displaySelectedImage() {
        var imageInput = document.getElementById("imageInput");
        var file = imageInput.files[0];
        var objectURL = URL.createObjectURL(file);
        selectedImage = objectURL;
        var selectedImageElement = document.getElementById("selectedImage");
        selectedImageElement.src = selectedImage;
      }

      // Hàm thực hiện detect và gửi dữ liệu đến route /api/detect
      function detectObjects() {
        if (selectedImage) {
          var formData = new FormData(document.getElementById("detectForm"));
          fetch("/api/detect", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              showAPIDetectInfo(data);

              updateDetectedImage();

              showResultSections();

              updateDownloadJsonLink(data);

              // Hiển thị nút "Continue detect" sau khi hoàn thành detect
              var continueDetectButton = document.getElementById(
                "continueDetectButton"
              );
              continueDetectButton.style.display = "block";
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        } else {
          console.error("No image selected!");
        }
      }

      // Hàm hiển thị thông tin từ /api/detect
      function showAPIDetectInfo(data) {
        var jsonInfoDetect = document.getElementById("jsonInfoDetect");
        jsonInfoDetect.textContent = JSON.stringify(data, null, 2);
      }

      // Hàm cập nhật hình ảnh đã detect sử dụng Ajax
      function updateDetectedImage() {
        var detectedImageElement = document.getElementById("detectedImage");
        detectedImageElement.src =
          "/static/detected_image.jpg?" + new Date().getTime();
      }

      // Hàm cập nhật đường link để tải JSON
      function updateDownloadJsonLink(data) {
        var downloadJsonLink = document.getElementById("downloadJsonLink");
        var jsonBlob = new Blob([JSON.stringify(data)], {
          type: "application/json",
        });
        var jsonUrl = URL.createObjectURL(jsonBlob);
        downloadJsonLink.href = jsonUrl;
      }

      // Hàm hiển thị các phần sau khi đã chọn tệp ảnh
      function showResultSections() {
        var resultItem = document.querySelector(".result-item");
        var jsonInfoDetectDiv = document.getElementById("jsonInfoDetectDiv");
        var downloadJsonLink = document.getElementById("downloadJsonLink");
        var detectedImageDiv = document.getElementById("detectedImageDiv");

        resultItem.style.display = "block";
        jsonInfoDetectDiv.style.display = "block";
        downloadJsonLink.style.display = "block";
        detectedImageDiv.style.display = "block";
      }

      // Hàm xử lý khi nhấn nút "Continue detect"
      function continueDetect() {
        document
          .getElementById("continueDetectButton")
          .addEventListener("click", function () {
            window.location.href = "/detect";
          });
      }
    </script>
  </body>
</html>
